$primary: #57066B;
$secondary: #F04499;
$alt-color: #18B5F6;
$second-alt: #fdaf30;

* {
    color: $second-alt;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
*:focus {
    outline: none;
}

.App {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./components/SynthwaveBackground.jpg');
    background-position: center; 
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.landing-page {
    display: flex;
    flex-direction: column;
    height: 70vh;
    h1 {
        font-size: 60px;
    }
    button {
        outline: none;
        border: none;
        width: 200px;
        border-radius: 15px;
        padding: 5px 10px;
        color: $primary;
        background: $alt-color;
        font-size: 40px;
        cursor: pointer;
    }
    button:hover{
        color: white;
    }
}

.voted-page {
    display: flex;
    font-size: 60px;
}

.results-waiting-page {
    height: 100vh;
    display: flex;
    button {
        outline: none;
        border: none;
        font-size: 50px;
        border-radius: 15px;
        background: black;
        color: red;
        padding: 10px 20px;
        cursor: pointer;
    }
    button:hover {
        color: white;
    }
}

.add-movie {
    width: 100%;
    display: flex;
    flex-direction: column;
    h1{
        font-size: 50px;
    }
    .add-movie-form{
        display: flex;
    }
    .input-bar {
        margin: 10px;
        font-size: 36px;
        padding: 10px 20px;
        text-align: center;
    }
    .add-btn {
        outline: none;
        border: none;
        font-size: 36px;
        background: transparent;
        color: $second-alt;
    }
    .fa-plus-circle:hover {
        color: $secondary;
    }
    .add-btn:hover {
        cursor: pointer;
        color: $alt-color;
    }
}

.movie-list {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    overflow-x: hidden;
    .pity-point {
        display: flex;
        margin-left: 120px;
        font-size: 30px;
    }
    .fas {
        color: $alt-color
    }
    .fas:hover {
        color: $secondary;
    }
    .movie-component{
        display: flex;
        width: 100%;
        h1{
            color: $alt-color;
            font-size: 48px;
            float: left;
            width: 40%;
        }
        .check-box {
            border: none;
            outline: none;
            width: 50px;
            height: 50px;
        }
        input {
            width: 15%;
            font-size: 48px;
            text-align: center;
            outline: none;
            border: none;
            border-bottom: 2px solid black;
        }
        input, select, textarea {
            color: black;
        }
        input:hover {
            outline: none;
        }
        button {
            border: none;
            outline: none;
            font-size: 40px;
            background: transparent;
            color: white;
        }
        button:hover {
            color: $secondary;
            cursor: pointer;
            border: none;
            outline: none;
        }
    }
    .submit-btn {
        margin-top: 30px;
        color:$alt-color;
        background: $primary;
        outline: none;
        font-size: 30px;
        display: flex;
        cursor: pointer;
        padding: 15px;
        border: none;
        border-radius: 15px;
    }
    .submit-btn:hover {
        transition: .15s ease-in;
        background: $secondary;
    }
}

.voting-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    h1 {
        font-size: 50px;
    }
    .voting-item {
        padding: 10px 20px;
        width: 90%;
        display: flex;
        justify-content: space-around;
        h1{
            font-size: 40px;
            float: left;
            width: 70%;
        }
        .check-box {
            border: none;
            outline: none;
            width: 25px;
            height: 25px;
            float: right;
        }
        input {
            width: 15%;
            font-size: 36px;
            text-align: center;
            outline: none;
            background: transparent;
            color: white;
            border: none;
            border-bottom: 2px solid black;
        }
        input, select, textarea {
            color: white;
        }
        input:hover {
            cursor: pointer;
        }
        input:focus, textarea:focus {
            outline: none;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
        }
    }
    .vote-btn {
        font-size: 36px;
        background: $secondary;
        padding: 10px 20px;
        outline: none;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }
    .vote-btn:hover {
        background: $alt-color;
    }
}

.results-screen {
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
    h1 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 50px;
    }
    .results-btn {
        border: none;
        background: $secondary;
        color: $second-alt;
        padding: 10px 20px;
        border-radius: 15px;
        display: flex;
        font-size: 40px;
    }
    .results-btn:hover {
        cursor: pointer;
        color: $alt-color;
    }
}

.result-chart {
    // height: 100vh;
    width: 100%;
}